@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  background: #000008;
  color: white;
  cursor: grab;
}

html:active, body:active {
  cursor: grabbing;
}

canvas {
  display: block;
}
